@charset "utf-8";

/*==================================================
ギャラリーのためのcss
===================================*/
.gallery{
/*columns: 4;/*段組みの数*/
columns: 1;/*段組みの数 モバイルファーストという概念より１列固定*/
padding:0 5px;/*ギャラリー左右に余白をつける*/
text-align: center; /* 画像を中央に寄せる */
}
/* メディアクエリ: 画面幅が768px以上の場合は2列に */
@media only screen and (min-width: 768px) {
  .gallery {
    columns: 2;
  }
}

/* メディアクエリ: 画面幅が1024px以上の場合は3列に */
@media only screen and (min-width: 1024px) {
  .gallery {
    columns: 3;
  }
}

/* メディアクエリ: 画面幅が1280px以上の場合は4列に */
@media only screen and (min-width: 1280px) {
  .gallery {
    columns: 4;
  }
}

.gallery li {
    margin-bottom: 10px;/*各画像下に余白をつける*/
    display: inline-block;
    vertical-align: top; /* 画像の上端に揃える */
}

/*ギャラリー内のイメージは横幅100%にする*/
.gallery img{
  width:100%;
  height:100%;
  object-fit: contain;

  /*object-position: top; /* 画像の上端を画面上端に合わせる */
}
/*デバイス差、PCでもウィンドウサイズ小さくしたときの表示、どっちがいいかはわからないので残しておく*/
/*　横幅900px以下の段組み設定　*/
/*
@media only screen and (max-width: 900px) {
  .gallery{
  columns:3;
  } 
}

@media only screen and (max-width: 768px) {
  .gallery{
  columns: 2;
  } 
}
*/


/*========= レイアウトのためのCSS ===============*/

ul{
  margin:0;/*要素の外側、内側の幅、箇条書きリストのスタイル*/
  padding: 0;
  list-style:none;
}

a{
  color: #333;
}
h2{
    text-align:left;
    font-size:2vw;
    letter-spacing: 0.1em;
    margin:10px 0;
    text-transform: uppercase;
}
a:hover,
a:active{
  text-decoration: none;
}

h1{
  text-align: center;
  font-size:6vw;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin:1px 0;
}

p{
  margin:0 10px 10px 10px;
  word-wrap : break-word;
}
.image-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
  }

  .image-item {
    margin: 1px;
    cursor: pointer;
    
  }

  .image-item img {
    width: auto;
    height: auto;
    object-fit: cover;
    max-width: 100%;
  }

  #selected-image-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;/*画像選択したときの黒い背景の幅*/
    color: #fff;
    z-index: 254;
    visibility: hidden;
    border: none; /* 枠線が不要な場合はこの行を追加 */
  }

  #selected-image-container.active {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.2); /* 完全に透明な背景 */
  }

  #selected-image {
    max-width: 100%;
    max-height: 70vh;
  }

  #image-info {
    margin-top: 1px;
  }
  #selected-image-container.active #selected-image {
    transform: scale(1.5);
    /*transition: transform 0s ease; /* スムーズな拡大縮小のためのトランジション */
  }
  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7); /* 半透明の背景 */
    z-index: 200; /* モーダルより低いが、他のコンテンツよりは高いz-index */
    display: none; /* 初期状態では非表示 */
  }
  