.fade-in-image {
  background-color: lightgray;
  opacity: 0.3;
  transition: opacity 2s ease-in-out;
  margin-left: 10%;
  margin-top: 5%;
  width: 1500px;
  height: auto;
}

.fade-in-image.loaded {
  opacity: 1;
}


/*画像に隠れる範囲*/
/*
#popup-area {
  height: 800px;
}
*/
/*タイトル部分。画像に隠れないようにrelativeでz-indexを２にしている。*/
/*
  h1 {
    position: relative;
    z-index: 2;
    margin-left: 45%;/*これが真ん中
  } 
  */
 /*キラキラの主要部、未完成
  .glitter-wrapper {
 
    display: inline-block;
  }
  
  .glitter {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    background: url('toppage_sample.png') repeat;
    z-index: 1;
    opacity: 1;
    pointer-events: none;
    animation: glitter-animation 10s infinite;
  }
  
  @keyframes glitter-animation {
    0% { transform: translate(-50%, -50%) rotate(0deg); opacity: 0; }
    50% { opacity: 1; }
    100% { transform: translate(-50%, -50%) rotate(360deg); opacity: 0; }
  }
  */