<<<<<<< HEAD
.popup-img {
    position: absolute;
    bottom: -300px;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    opacity: 0;
    transition: opacity 3.0s, bottom 3.0s;
=======
.popup-img {
    position: absolute;
    bottom: -300px;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    opacity: 0;
    transition: opacity 3.0s, bottom 3.0s;
>>>>>>> 89f5758b5312e426a9b16c909cbf242f8aa919f9
  }