/*これはロゴ画像と横のテキストの表示を大まかに決めてる部分*/
.logo-container {
  /*下の二つで横のテキストの位置を画像の真ん中の高さと指定している*/
  display: flex;
  align-items: center;
  flex-direction: column; /* 子要素を縦に並べる */
}

.logo-and-text {
  /* 必要に応じてスタイルを追加 */
  align-items: center;
  display: flex;
  justify-content: start; /* ロゴからテキストへ左揃えで配置 */
  width: 100%; /* コンテナの幅を最大に */
}


.text-section{
  color: rgb(64,32,32);
  text-align: left;
  padding:0;
  margin:0;
}
.btn-style-link {
  display: inline-block;
  padding: 0.5em 1em;
  background-color: rgb(64,32,32);
  color: #FFF;
  text-decoration: none;
  text-align: center;
  border-radius: 0.25rem;
}

/*ロゴの表示位置を指定している。*/
.logo-img {
  margin-left: 15%;/*大体左上だから横から15％にした*/
  width: 250px; /* 画像の幅を100pxに設定 */
  height: auto; /* 高さを自動調整 */
}
.logo-text {
  margin-left: 30%; /* ロゴ画像とテキストの間隔 ここで並行移動は調整できる*/
  font-size: 16px; /* テキストのフォントサイズ */
  font-weight: bold; /* テキストの太さ */
  text-align: left;
}

/*以下はテキストボックスを表示する部分*/
.container {
  margin-left: 15%;
  width: 400px; /* 箱の幅 これは入力文字数に対して可変にしたい？*/
  padding: 20px; /* 箱内の余白 */
  box-sizing: border-box; /* 箱の境界線を含めたサイズ指定 */
  margin-bottom: 10px;/*他の要素と接しないように幅とってある*/
}
.container p {
  margin: 0; /* 文章の上下の余白を除去 これのおかげで多少すっきり詰まって見えてる*/
}
/*線分表示。長さ色は取りあえず*/
.line {
  border-top: 2px dashed #a1af71;
  margin-top:10px;
  margin-bottom:10px;
  margin-left:10%;
  margin-right:10%;
}
.sns-images {
  display: flex;
  justify-content: space-between; /* 画像間に均等なスペースを設ける */
  margin: 20px auto; /* 上下のマージンを設定し、左右は自動で中央揃え */
  max-width: 400px; /* コンテナの最大幅を指定 */
}
.profile-images {
  display: flex;
  justify-content: space-around; /* 画像間に均等なスペースを設ける */
  width: 80%; /* テキストの幅に合わせる、調整が必要かもしれません */
  max-width: 400px; /* コンテナの最大幅を指定、これも調整が必要かも */
}

.small-sns-image {
  flex: 1; /* 画像を等間隔で伸縮させる */
  max-width: 25%; /* 各画像がコンテナ幅の25%を超えないようにする */
  height: auto; /* 高さを自動調整 */
}