.logo-container {
  display: flex;
  align-items: center;
}

.logo-img {
  margin-left: 15%;
  float: left; /* 画像を左にフロート */
  left: 20px; /* 左方向に20px移動 */
  top: 10px; /* 上方向に10px移動 */
}
.logo-text {
  margin-left: 100px; /* ロゴ画像とテキストの間隔 ここで並行移動は調整できる*/
  font-size: 16px; /* テキストのフォントサイズ */
  font-weight: bold; /* テキストの太さ */
}
.logo-text, a {
  display: block;
}
.line {
  border-top: 1px solid #000;
  margin-top:10px;
  margin-bottom:10px;
  margin-left:10%;
  margin-right:10%;
}
