.profile-top {
  border: 1px solid #ccc; /* 枠線を設定 */
  padding: 20px; /* コンテンツと枠線の余白を設定 */
  width: 800px; /* コンテンツの幅を設定 */
  left: 2000;
}
.profile-container {
  border: 1px solid #ccc; /* 枠線を設定 */
  padding: 20px; /* コンテンツと枠線の余白を設定 */
  width: 800px; /* コンテンツの幅を設定 */
}
.profile-input {
  width: 100%; /* テキストボックスの幅を親要素に合わせる */
  box-sizing: border-box; /* 枠線を含めたボックスサイズを設定 */
  margin-bottom: 10px; /* テキストボックスとテキストエリアの間の余白を設定 */
}
.profile-textarea {
  width: 100%; /* テキストエリアの幅を親要素に合わせる */
  box-sizing: border-box; /* 枠線を含めたボックスサイズを設定 */
}
.logo {
  /*position: fixed;*/
  top: 50;
  left: 50;
  z-index: 9999;
}
body {
  font-family: "Mametaro";
}