/*body{
    text-align: center;
    background-color: rgba(35,23,136,0.2);/*サイト構造理解のため色変更
    padding:0;
    margin:0;
}*/


.footer{
    background-color: rgb(192, 168, 144);
    width: 80%;
    padding-left:10%;
    padding-right:10%;
    padding-top:10px;
    padding-bottom:10px;
    display: flex;
    color: white;
}


.footerlist-title {
    font-size:large;
    color:inherit;
    text-decoration: none;
    padding: 10px;
  }

  .footerlist-element {
    color:inherit;
    text-decoration: none;
    list-style: none;
    padding:0px;
  }